<header>
    <nav>
    <nav class="header-nav">
        <a class="header-title" href="/home">MusicPlayer</a>
        <div>
            <p>
                MusicPlayer is an application allowing users to view tracks, artists, albums, genres, as well as
                create playlists
            </p>
        </div>
        <div class="form-row">
            <div class="form-item">
                <a class="btn btn-primary" href="/privacyPolicy">Privacy Policy</a>
            </div>
            <div class="form-item">
                <a class="btn btn-primary" href="/acceptableUse">Acceptable Use Policy</a>
            </div>
            <div class="form-item">
                <a class="btn btn-primary" href="/dmcaNotice">DMCA Notice</a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-item">
                <a class="btn btn-primary" href="/profile">My Profile</a>
            </div>
            <div class="form-item">
                <a class="btn btn-primary" href="/admin">Admin Panel</a>
            </div>
        </div>
        <br>
        <ul>
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/playlists/new">Add Playlist</a></li>
            <li><a href="/tracks">Tracks</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/genres">Genres</a></li>
        </ul>
    </nav>
</header>