<h2>Admin Panel</h2>
<div class="form-row">
    <div class="form-item">
        <a class="btn btn-primary" href="/userToManager">Upgrade Users</a>
    </div>
    <div class="form-item">
        <a class="btn btn-danger" href="/deactivateUser">Deactivate User</a>
    </div>
</div>