<h2>Deactivate User</h2>
<form action="/admin/deactivateUser?_method=DELETE" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label>Enter User Email</label>
            <input type="text" name="email">
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-danger" type="submit">Deactivate</button>
    </div>
</form>