<h1>Update Profile</h1>
<form action="/updateProfile" method="POST">
    <div>
        <label for="name">Update Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">New Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Update</button>
</form>
<a href="/home">Home</a>