<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= playlist.name %>" placeholder="<%= playlist.name %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Description</label>
        <textarea name="description" placeholder="<%= playlist.description %>"><%= playlist.description %></textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Privacy</label>
        <select name="privacy">
            <option value="private">Private</option>
            <option value="public">Public</option>
        </select>
    </div>
</div>
<!-- <div class="form-row">
    <div class="form-item">
        <a class="btn btn-primary" href="">Add Tracks</a>
    </div>
</div> -->