<h2>New Playlist</h2>
<form action="/playlists" method="POST">
    <%- include('_form_fields') %> 
    <a class="btn btn-danger" href="/playlists">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>