<h2>New Track</h2>
<form action="/tracks" method="POST">
    <%- include('_form_fields') %> 
    <div class="form-row btn-row">
        <a class="btn btn-danger" href="/tracks">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>